*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
latex/**/*.pdf
.DS_Store
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/104-public-knowledge-base.iml
.vscode/settings.json
lightning_logs
